nav {
  position:absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 16vh;
  width: 100%;
}

.logo {
  color: hsl(0, 0%, 100%);
  font-size: 15px;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: end;
  width: 50%;
  font-size: 13px;
  margin-right: -70px;
}

.link a {
  color: hsl(0, 0%, 100%);
  margin-left: 30px;
}

.link a:hover {
  color: #F8CBFF;
  cursor: pointer;
}

.hamburger {
  color: hsl(0, 0%, 100%);
  display: none;
}

.hamburger:hover {
  cursor: pointer;
  color: #F8CBFF;
}

img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: bottom;
}

.tagline-container {
  position: absolute;
  width: 20%;
  border: 3px solid black;
}

.tagline {
  font-family: 'Josefin Sans', sans-serif;
  margin: 20px 0 20px 10px;
}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .hamburger {
    display: block;
  }

  .menu {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 64vh;
    align-items: center;
    width: 100%;
    top: 16vh;
    justify-content: space-around;
    margin-right: 0;
    background-color: #34283A;
    font-size: 24px;
    transform: translateX(100%);
  }

  .active {
    transform: translateX(0%);
  }
}